<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67773570691-2kg02ibmvippgsi5dhs9f0pose1je2a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67773570691-2kg02ibmvippgsi5dhs9f0pose1je2a7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>67773570691-q11ak9u4iukrkj3nhsdet3s9sfu1u4vr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAV89KzVbY3_gsCO4FtGbgR00QOt77cRH4</string>
	<key>GCM_SENDER_ID</key>
	<string>67773570691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieapp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-3101</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-3101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67773570691:ios:1f29899867948b8c5985b6</string>
</dict>
</plist>